body{
    text-align: center;
}
footer{
    text-align: left;
}
header{
    text-align: right;
}
div{
    background-color: beige;
}
button{
    background-color: blue;
    color: white;
}
sectionbutton{
        background-color: red;
    color: white;
}